/* These are additional styles applied to the extension comments widget,
   in addition to the styling provided by astralcodexten.com itself. */

body {
  /* Enable horizontal scrolling if content does not fit in view, which
    may happen when viewing very deeply nested comment threads. Horizontal
    scrolling is ugly and should generally be avoided, but it's better than
    cutting off the comment text.

    Use !important to override Substack stylesheet which set overflow-x: hidden.
  */
  overflow-x: auto !important;
}

.ext-comments .comment {
  padding: 4px;

  /* Substack sets margin-top: 12px for all comments *except* for the first
     (i.e. ".comment:first-child { margin-top: 0px }") which interferes with
     .order-new-first, which reverses the visible order of comments without
     changing the order of the DOM nodes. So just fix margin-top to the same
     value for all comment divs instead. */
   margin-top: 12px !important;
}

.ext-comments .comment.collapsed > .content > .main {
  display: none;
}

.ext-comments .comment {
  display: flex;
  flex-direction: row;
}

.ext-comments .comment .border {
  cursor: pointer;
  padding-left: 11px;
  padding-right: 11px;
  transition: all 0.25s;
}

.ext-comments .comment .border .line {
  background: var(--background_contrast_2);
  width: 2px;
  height: 100%;
  margin: auto;
  transition: all 0.25s;
}

.ext-comments .comment .border:hover {
  padding-left:  9px;
  padding-right: 9px;
  transition: all 0.25s;
}

.ext-comments .comment .border:hover .line {
  background: var(--background_pop);
  width: 6px;
  transition: all 0.25s;
}

.ext-comments .comment .edited-indicator {
  font-style: italic;
}

.ext-comments .comment .edited-indicator,
.ext-comments .comment .comment-publication-name-separator,
.ext-comments .comment .missing {
  /* Remove the underline that the Substack stylesheet gives these elements
    despite not being clickable. */
    text-decoration: none !important;
    cursor: inherit !important;
}

.ext-comments .comment .content header {
  padding-bottom: 8px;
}

.ext-comments .comment .content .text {
  white-space: preserve pretty;
  overflow-wrap: anywhere;
  max-width: 40em;
  min-width: 20em;
  margin: 0;
  /* remove the max-height: 600px, overflow-y: hidden that Substack CSS
     applies to .comment-body */
  max-height: initial !important;
  overflow-y: initial !important;
}

.ext-comments .comment .missing {
  font-style: italic;
}

/* Comment ordering */

.ext-comments .comments-heading-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 16px;
  justify-content: space-between;
}

.ext-comments .comments-holder {
  flex-direction: column;
  display: flex;
}

.ext-comments.order-new-first .comments-holder {
  flex-direction: column-reverse;
}

/* Radio button styling */

.ext-comments .radio-buttons {
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  padding: 2px;
  background: #0002;
}

.ext-comments .radio-buttons button {
  font-size: 16px;
  margin: 2px;
  padding: 2px 8px;
  background: none;
  border: none;
  border-radius: 16px;
}

.ext-comments .radio-buttons button.active {
  margin: 0px;
  border: 2px solid #0008;
  background: #fffe;
}

.ext-comments .radio-buttons button.inactive {
  cursor: pointer;
}

.ext-comments .radio-buttons button.inactive:hover {
  background: #fff6;
}
