/* These are additional styles applied to the extension comments widget,
   in addition to the styling provided by astralcodexten.com itself. */

body {
  /* Enable horizontal scrolling if content does not fit in view, which
    may happen when viewing very deeply nested comment threads. Horizontal
    scrolling is ugly and should generally be avoided, but it's better than
    cutting off the comment text.

    Use !important to override Substack stylesheet which set overflow-x: hidden.
  */
  overflow-x: auto !important;

  /* Substack forces "cursor: default" which prevents the cursor from changing
     to the I-beam that indicates text is selectable. It's not really important,
     but I personally hate it, so I'm going to undo it. */
  cursor: initial !important;
}

/* Force textareas to be resizable. */
textarea {
  resize: both !important
}

/* Fix the main menu to the top of the page. By default, it will scroll back
   into view whenever the user scrolls up, but this interferes with keyboard
   navigation (e.g., when focusing a comment, the main menu may overlap the
   top of the comment) and is generally obnoxious. */
.main-menu-content {
  position: relative !important;
  top: 0 !important;
}

/* Add underline to links with keyboard focus, to facilitate keyboard navigation. */
a:focus {
  text-decoration: solid underline var(--background_pop) 2px !important;
}

.ext-comments {
  --comment-min-width: 300px;
  /* This is the space available in the default layout, when no deep comments
     exist that push the comment section outside its right boundary. */
  --comment-max-width: 704px;
}

.ext-comments .comment-thread {
  padding: 4px;
}

.ext-comments .comment-thread.collapsed > .content > .comment > .comment-body,
.ext-comments .comment-thread.collapsed > .content > .ext-comments-list {
  display: none;
}

.ext-comments .comment-thread {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.ext-comments .comment-thread > .comment-head > .border {
  cursor: pointer;
  width: 16px;
  height: 100%;
  flex: 0 0 auto;
}

.ext-comments .comment-thread > .comment-head > .border > .line {
  background: var(--background_contrast_2);
  width: 2px;
  height: 100%;
  margin: auto;
  transition: width 0.2s;
}

.ext-comments .comment-thread > .comment-head > .border:hover > .line {
  background: var(--background_pop);
  width: 6px;
  transition: width 0.2s;
}

.ext-comments .comment-thread .content {
  flex: 1;
}

.ext-comments .comment:focus {
  background-color: rgba(0, 0, 0, 4%);
  border-right: 2px solid #0002;
}

.ext-comments .comment:focus p {
  color: #222;  /* darker than Substack uses by default. */
}

.ext-comments .comment:focus .comment-body a {
  color: var(--background_pop_darken);
}

/* Enable these transition so the focus indicator is animated. I find it more
   distracting than helpful, so I've disabled them for now. */
/*
.ext-comments .comment { transition: background-color 0.2s; }
.ext-comments .comment a,
.ext-comments .comment p { transition: color 0.2s; }
*/

.ext-comments .comment .edited-indicator {
  font-style: italic;
}

.ext-comments .comment .comment-meta span:hover {
  /* Remove the underline that the Substack stylesheet gives these elements
    despite not being clickable. */
  text-decoration: none !important;
  cursor: inherit !important;
}

.ext-comments .comment .comment-body {
  white-space: preserve pretty;
  overflow-wrap: anywhere;
  min-width: var(--comment-min-width);
  max-width: var(--comment-max-width);
  margin: 4px 0 0 0;
  /* remove the max-height: 600px, overflow-y: hidden that Substack CSS
     applies to .comment-thread-body */
  max-height: initial !important;
  overflow-y: initial !important;
}

.ext-comments .comment .missing {
  font-style: italic;
}

.ext-comments .comment {
  /* Override margin applied by Substack */
  margin-top: 0px !important;
}

/* Dates */

.date > .long { display: none }
.date:hover > .long { display: initial }
.date:focus > .long { display: initial }
.date:hover > .short { display: none }
.date:focus > .short { display: none }

/* Comment ordering */

.ext-comments .comments-heading-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}

.ext-comments .comments-heading-holder .comment-order {
  margin-left: auto;  /* right-aligns this item in the flex container */
}

/* Radio button styling */

.ext-comments .radio-buttons {
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  padding: 2px;
  background: #0002;
}

.ext-comments .radio-buttons button {
  font-size: 16px;
  margin: 2px;
  padding: 2px 8px;
  background: none;
  border: none;
  border-radius: 16px;
}

.ext-comments .radio-buttons button.active {
  margin: 0px;
  border: 2px solid #0008;
  background: #fffe;
}

.ext-comments .radio-buttons button:focus {
  margin: 0px;
  border: 2px solid var(--background_pop);
}

.ext-comments .radio-buttons button.inactive {
  cursor: pointer;
}

.ext-comments .radio-buttons button.inactive:hover,
.ext-comments .radio-buttons button.inactive:focus {
  background: #fff6;
}

/* Comment editing */

.ext-comments .top-level-reply,
.ext-comments .comment-reply {
  margin-left: 16px;
  margin-top: 12px;
}

.ext-comments .comments-heading-holder a {
  text-decoration: none;
  font-size: 15px;
  /* color: var(--background_pop) !important; */
}

.ext-comments .comments-heading-holder a:hover {
  text-decoration: underline;
}

.ext-comments .comment-editor {
  margin-top: 12px;
  min-width: var(--comment-min-width);
  max-width: var(--comment-max-width);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ext-comments .comment-editor textarea {
  height: 96px;
  max-height: 400px;
  padding: 0.25em 0.5em;
  border-radius: var(--border-radius-md);
  background: var(--web_bg_color);
  color: var(--print_on_web_bg_color);
  overflow: auto;
}

.ext-comments .comment-editor .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}

/* Why does substack remove focus indicators from everything?! */
.ext-comments .comment-editor textarea:focus {
  border: 2px solid var(--background_pop) !important;
}

.ext-comments .comment-editor button {
  padding: 10px 20px;
}

.ext-comments .comment-editor button:focus {
  border: 2px solid var(--background_pop) !important;
  padding: 8px 18px;
}

.ext-comments .comment-editor button.primary:focus {
  border-color: #0008 !important;
}
