body {
    font-family: sans-serif;
    font-size: .75em;
    user-select: none;
    width: 325px;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#wrapper div {
    white-space: nowrap;
}

.heading {
    margin-left: 4px;
    font-weight: bold;
}

label,
button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

input {
    vertical-align: middle;
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    width: 120px;
    padding: 2px 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    cursor: text;
}

.help-icon {
    width: 14px;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 4px;
}

.tooltip {
    position: fixed;
    background-color: #555;
    color: white;
    font-size: 14px;
    left: 8px;
    right: 8px;
    border-radius: 10px;
    padding: 10px;
    hyphens: auto;
    pointer-events: none;
    z-index: 1;
}

.tooltip.top {
    top: 8px;
}

.tooltip.center {
    top: 50%;
    transform: translateY(-50%);
}

.tooltip.bottom {
    bottom: 8px;
}
