/* These are additional styles applied to the extension comments widget,
   in addition to the styling provided by astralcodexten.com itself. */

body {
  /* Enable horizontal scrolling if content does not fit in view, which
    may happen when viewing very deeply nested comment threads. Horizontal
    scrolling is ugly and should generally be avoided, but it's better than
    cutting off the comment text.

    Use !important to override Substack stylesheet which set overflow-x: hidden.
  */
  overflow-x: auto !important;
}

.ext-comments .comment {
  padding: 4px;
}

.ext-comments .comment.collapsed > .content > .main {
  display: none;
}

.ext-comments .comment {
  display: flex;
  flex-direction: row;
}

.ext-comments .comment .border {
  cursor: pointer;
  padding-left: 11px;
  padding-right: 11px;
}

.ext-comments .comment .border .line {
  background: #000a;
  width: 2px;
  height: 100%;
  margin: auto;
}

.ext-comments .comment .border:hover {
  padding-left:  9px;
  padding-right: 9px;
  transition: all 0.25s;
}

.ext-comments .comment .border:hover .line {
  background: #0004;
  width: 6px;
  transition: all 0.25s;
}

.ext-comments .comment .content header {
  padding-bottom: 8px;
}

.ext-comments .comment .content .text {
  white-space: preserve pretty;
  overflow-wrap: anywhere;
  max-width: 40em;
  min-width: 20em;
  margin: 0;
  /* remove the max-height: 600px, overflow-y: hidden that Substack CSS
     applies to .comment-body */
  max-height: initial !important;
  overflow-y: initial !important;
}
