.end-of-post-recommend-cta-container,
.post-end-cta-full,
.subscribe-footer,
.post-header .post-ufi,
.post-footer,
.single-post-section,
.post div:has(.available-content) > div:not(.available-content),
.footer .footer-buttons,
.footer .footer-slogan-blurb {
  display: none !important;
}

.ext-comments {
  border-top: 1px solid var(--color-detail-themed);
  margin-top: 20px;
  padding-top: 20px;
}
