/* Styles specific to demo.html, which doesn't inherit the default styles
   provided by astralcodexten.com. */

:root {
  --web_bg_color: #E2eDfC;
  --print_on_web_bg_color: hsl(214.6153846153846, 21.00057339449543%, 28.607843137254907%);
  --background_contrast_1: #d4dfed;
  --background_contrast_2: #c3cdda;
  --background_contrast_3: #a2aab5;
  --background_contrast_4: #828891;
  --background_contrast_5: #474b50;
  --background_contrast_pop: rgba(103, 189, 252, 0.4);
  --background_pop: #67bdfc;
  --background_pop_darken: #4eb2fc;
  --border-radius-md: 12px;
}

body {
  background-color: var(--web_bg_color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
}

p {
  color: #444;
}

a {
  color: var(--background_pop);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.comment .comment-meta a {
  color: var(--print_on_web_bg_color);
}

.ext-comments .comment .comment-body p {
  margin: 0 0 8px 0;
}

.ext-comments .comment .comment-meta {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 4px;
}

.ext-comments .comment .comment-meta .commenter-name {
  font-weight: bold;
}

.ext-comments .comment header .comment-timestamp {
  opacity: 50%;
}

.options-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 2em;
}

.options th {
  text-align: left;
  padding-right: 16px;
  vertical-align: top;
}

.popup h4 {
  margin: 0;
}

.popup iframe {
  border: 1px solid black;
  resize: both;
}
